@{
    ViewBag.Title = "Assignment 6 - Jihee Kim";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 6 - Jihee Kim</h1>
        <p class="lead">An app that enables production company to manage their actors, TV series, and episodes</p>
        <p><a href="https://jkim541-wa-web524-a6.azurewebsites.net" target="_blank" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>how to add support for rich text and uploading of media items.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>adding MediaItemDownload action to deliver the media item to the browser.</p>
        </section>
    </div>
</main>